<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
  <div class="container">
    <a class="navbar-brand">
      <img src="https://marketplace.canva.com/EAFBb6P4OLs/1/0/1600w/canva-red-blue-simple-logo-hbl5vlZh180.jpg"
        alt="Logo" height="40" routerLink="/home" />
    </a>
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 " routerLink="/doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/patients">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/equipement">Equipement Medical</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/operation">Operations</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" >Patients Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addPatient" type="submit">Add Patient</button>
          </div>
        </div>
    </nav>
 
    <input class="form-control" type="text" placeholder="Search By CIN" [(ngModel)]="searchText">
 
    
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">CIN</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Age</th>
            <th scope="col">Sexe</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patList | search: searchText"  >
            <td>{{patient.cin}}</td>
            <td>{{patient.nom}}</td>
            <td>{{patient.prenom}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.sexe}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editPatient" (click)="editPatient(patient)">Edit</button>
                <button type="button" class="btn btn-outline-danger" (click)="deletePatient(patient)">Delete</button>
            </td>

          </tr>
          
        </tbody>
      </table>

  
  <!-- Add employee modal -->
  <div class="modal fade" id="addPatient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new Patient</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="patDetail">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">CIN </label>
                    <input type="text" formControlName="cin" class="form-control" id="cin" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nom </label>
                  <input type="text" formControlName="nom" class="form-control" id="nom" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Prenom </label>
                    <input type="text" formControlName="prenom" class="form-control" id="prenom" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Age </label>
                    <input type="text" formControlName="age" class="form-control" id="age" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Sexe </label>
                    <input type="text" formControlName="sexe" class="form-control" id="sexe" aria-describedby="emailHelp">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addPatient()">Add Patient</button>
                  </div>
              </form>

        </div>
        
      </div>
    </div>
  </div>

  
  <!-- Edit employee modal -->
  <div class="modal fade" id="editPatient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Patient details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form [formGroup]="patDetail">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">CIN</label>
                    <input type="text" formControlName="cin" class="form-control" id="cin" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nom </label>
                  <input type="text" formControlName="nom" class="form-control" id="nom" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Prenom </label>
                    <input type="text" formControlName="prenom" class="form-control" id="prenom" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Age </label>
                    <input type="text" formControlName="age" class="form-control" id="age" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Sexe </label>
                    <input type="text" formControlName="sexe" class="form-control" id="sexe" aria-describedby="emailHelp">
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success" (click)="updatePatient()" data-bs-dismiss="modal">Update </button>
                  </div>
              </form>

        </div>
      </div>
    </div>
  </div>


</div> 

