<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
  <div class="container">
    <a class="navbar-brand">
      <img src="https://marketplace.canva.com/EAFBb6P4OLs/1/0/1600w/canva-red-blue-simple-logo-hbl5vlZh180.jpg"
        alt="Logo" height="40" routerLink="/home" />
    </a>
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 " routerLink="/doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/patients">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/equipement">Equipement Medical</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="/operation">Operations</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="car">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://c4.wallpaperflare.com/wallpaper/978/657/202/medicine-hospital-wallpaper-preview.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://c0.wallpaperflare.com/preview/898/552/975/aerial-aerial-view-care-checklist.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://c1.wallpaperflare.com/preview/736/61/167/aerial-cardiac-care-checkup.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/247786/pexels-photo-247786.jpeg?auto=compress&cs=tinysrgb&w=600"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fourth slide label</h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/3845129/pexels-photo-3845129.jpeg?auto=compress&cs=tinysrgb&w=600"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fifth slide label</h5>
          <p></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="text">
  <h2>Our Service</h2>
</div>
<div class="grid-container">
  <div class="card" style="width: 18rem;">
    <img
      src="https://img.freepik.com/free-photo/doctor-with-his-arms-crossed-white-background_1368-5790.jpg?size=626&ext=jpg&ga=GA1.1.1548506560.1700749290&semt=sph"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla odio ad quos placeat velit impedit, totam ea tempore laudantium nihil, exercitationem ab atque. Odio, obcaecati quas! Reprehenderit voluptatum sit possimus?</p>
      <button type="button" class="btn btn-primary">Consulter</button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg?size=626&ext=jpg&ga=GA1.1.1548506560.1700749290&semt=sph"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime eveniet delectus modi temporibus atque, unde ea sed eaque illum illo sapiente eum ipsa. Inventore quam ut sint ducimus hic aperiam?</p>
      <button type="button" class="btn btn-primary">Consulter</button>

    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      src="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?size=626&ext=jpg&ga=GA1.1.1548506560.1700749290&semt=sph"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia esse fuga unde laboriosam. Voluptate tenetur, laboriosam rerum nesciunt corrupti beatae odio, commodi, iste provident incidunt perferendis voluptatem quae porro esse?</p>
      <button type="button" class="btn btn-primary">Consulter</button>
    </div>
  </div>
</div>
<footer style="text-align: center;">&copy; Copyright 2024 </footer>